.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.menuButton, .menuLink {
    font-size: 20px;
    height: 50px;
    width: 300px;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    color: black;
}

.menuLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButton:hover, .menuLink:hover {
    box-shadow: 5px 2px 2px gray;
    transform: scale(1.05);
}